body{
	background-color: #263238;
	font-family: "Gotham light";
	margin: 0;
}

#wrapper{
	background-color: #212121;
	width: 1000px;
	margin: auto;
}

#header{
	text-align: center;
	padding-top: 50px;
	background-image: url(../images./header_background.jpg);
	width: auto;
	margin: auto;
}

#header > h1{
	margin: auto;
	width: 850px;
	border: white solid 5px;
	border-left: 0;
	border-right: 0;
	font-size: 50px;
	letter-spacing: 5px;
	color: white;
}

ul#navigation{
	padding: 0;
	margin: auto;
}

ul#navigation > li{
	margin-top: 10px;
	margin-left: 15px;
	clear: right;
	color: white;
	list-style: none;
	font-size: 18px;
}

ul#navigation > li > a{
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	padding: 10px 10px 5px 10px;
	display: inline-block;
	float: right;
	color: white;
	text-decoration: none;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

ul#navigation > li > a:hover{
	border-bottom: 3px solid white;
	background-color: rgba(255, 255, 255, 0.3);
}